{% extends "base/nosidebar.html" %}

{% block main %}



<BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<BR/><BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<table width = "100%">
	<td width="25%">	<a href="/"><img src="{{ STATIC_URL }}main_model1" height = 520 width = 400 /></a></td>
	<td width="25%">	<a href="/"><img src="{{ STATIC_URL }}main_model2" height = 260 width = 200 /></a></td>
	<td width="25%">	<a href="/"><img src="{{ STATIC_URL }}main_model3" height = 260 width = 200 /></a></td>
	<td width="25%">	<a href="/"><img src="{{ STATIC_URL }}main_model4" height = 216 width = 166 /></a></td>
</table>
{% endblock %}
