{% extends "showcase/sidebar.html" %}

{% block sidemain %}
<h1>Episode {{album.theme.showcase.episode_id}} : {{album.theme.subject}}
{% if album.coordi == user %}
<a href="/showcase/workspace/{{album.theme.theme_pos}}/">Edit Your Album</a>
{% endif %}
</h1>
<h2>Title: {{album.theme.title}}</h2>

<table>

{% for entry in entries %}
<tr><td>
<img src="{{ MEDIA_URL }}photo/{{entry.photo.photo_id}}/"
height = 300 width = 300 /></a>    
</tr></td>
<tr><td>{{entry.text}}</tr></td>

{% endfor %}
</table>
{% endblock %}


{% comment %}
{% block sidebar %}

<h1><a href="">Previous Episodes</a></h1>

{% for album in albums %}
<table>
<tr><td><a href="/showcase/album/{{album.album_id}}/">Episode {{album.theme.showcase.episode_id}}</a></td></tr>
</table>
{% endfor %}
{% endblock %}
{% endcomment %}